# Set the default behavior, in case people don't have core.autocrlf set.
# https://help.github.com/articles/dealing-with-line-endings/
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
#*.c text
#*.h text
#*.sh text
*.php text eol=lf

# Declare files that will always have CRLF line endings on checkout.
#*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

#Use pdfdiff to show differences in pdf files:
*.pdf diff=pdfdiff
