<Files error.log>
    deny from all
</Files>
<IfModule mod_php7.c>
    # If PHP is not installed in the form of an Apache module, then php_value is not a valid command.
    # TODO: Also it is considered unsafe to use php_value inside .htaccess
    php_value upload_max_filesize 300M
    php_value post_max_size 300M
    php_value max_input_time 180
</IfModule>
