/*
Our mail colors were picked by and from http://www.colorsontheweb.com/colorwizard.asp
#BDE682, foreground, light green
#73AC22, contrast, strong green
#FEFEFF, background, white
#B4B4B4, ?,  grey
*/
@media screen {
    div
    {
        /*
        margin: 3px;
        border: 1px solid #FF0000;
        */
    }
}
body
{
    background-color: #FEFEFF;
    font-family: sans-serif;
}
table, th, td
{
    white-space: nowrap;
    vertical-align: top;        
    font-family : "Myriad Web",Verdana,Helvetica,Arial,sans-serif;
    border-collapse: collapse;
    padding:0 1.0em 0.8em 0;
}
thead
{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}
tfoot
{
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px;
}
table.table_with_border td
{
    border: solid 1px #000000;
}
td
{
    white-space: nowrap; vertical-align: top;
}
th
{
    text-align: left;
}
a
{
    text-decoration: none;
    color: #73AC22;
}
a:hover
{
    text-decoration: underline;
}
.only-print
{
    display: none;
}

div.foot
{
    display: inline-block;
    float: left;
    clear: both;
    /*	background-color: #BDE682;*/
    width: 95%;
}
div#main-area
{
    width: 95%; 
    position: relative;
    float: left;
    clear: left;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;

}
table#duty-rooster-table
{
    width: 85%;
    font-size: 1.18vw;
}
div#table_overlay_area
{
    width: 100%; 
    position: relative;
}
div.image
{
    position: relative;
    float: right;
    overflow:auto;
    /*	width: 60%;*/
    /*	max-height: 60%;*/
}

img.inline-image
{
    height: 0.9em;
}

input[type="time"]
{
    width: 6em;
    /*size: 5em;*/
    font-family: monospace;
    border-top: initial;
    border-left: 3px dotted #FEFEFF;
    border-right: 3px dotted #FEFEFF;
    border-bottom: 3px dotted #FEFEFF;
}
input[type="time"]:hover
{
    border: 3px dotted #BDE682;
}
select
{
    color: #73AC22;
    background-color: #FEFEFF;

    border-top: 3px dotted #B4B4B4;
    border-left: 3px dotted #B4B4B4;
    border-right: 3px dotted #B4B4B4;
    border-bottom: 3px dotted #B4B4B4;
}
select:hover
{
    border: 3px dotted #BDE682;
}
label
{
    margin-top: 0.5em;
    /*
    display: block;
    */
}
div.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    /*
    left: 25%;
    top:25%;
    */
    margin-top: 1.2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /*
    float: left;
    clear: both;
    */
    background-color: #73AC22;
    opacity: 0.8;
    z-index: -10;
}
div.overlay:hover
{
    opacity: 0.2;
    z-index: -10;
}
div.error_container
{
    position: relative;
    float: right;
    top:0;
    max-width: 650px;
}
div.errormsg
{
    background-color: #73AC22;
    padding: 0px 15px 0px 15px;
    margin: 0px 15px 1em 0px;
    z-index: 10;
}
div.warningmsg
{
    position: relative;
    top:0;
    float: left;
    background-color: #BDE682;
    padding: 0px 15px 0px 15px;
    margin: 0px 15px 1em 0px;
    z-index: 10;
}

nav#nav{
    display: inline-block;
    width: 100%;
    background-color: #BDE682;
}
nav ul#navigation {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}
nav ul#navigation li {
    height: 2em; /*is equal to {nav ul#navigation li a}[line-height]*/
    float: left;
}
nav ul#navigation li:last-child a {
    font-style: italic;
}
nav ul#navigation li a {
    border-left: 1px solid #73AC22;
    display: inline-block;
    text-align: center;
    background-color: #BDE682;
    color: #000000;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 2em; /*is equal to {nav ul#navigation li}[height]*/
}
ul#navigation li a:hover {
    background-color: #73AC22;
    color: #FFFFFF;
}
nav ul#navigation li:hover > ul {
    display: block;
}
ul#navigation ul, ul#navigation ul li ul{
    display: none;
    position: absolute;
    list-style-type: none;
    padding-left: 0;
    margin-left: 2.0em;
    z-index:  20;
    background-color: violet;
}
ul#navigation ul li {
    clear: both;
    width: 100%;
}
ul#navigation ul li a {
    font-style: inherit !important;
    display: inline-block;
    float: left;
    clear: both;
    width: 100%;
}


tr.wochenende {
    background-color: #B4B4B4;
}
img.worker-img {
    border: 5px solid #B4B4B4;
    clear: left;
    position: relative;
    float: left;
    height: 64px;
}
img.worker-img:hover {
    height: auto;
    width: 90%;
}
.large {
    font-size: xx-large;
    margin-bottom: 1em;
}
.hint {
    font-size: small;
    font-weight: lighter;
    text-align: left;
}
.table {
    display:block;
    border: 5px;
    width: 10%;
}
.row {
    display:block;
}
.cell-header {
    font-weight: bold;
}
.cell {
    display:inline-block;
}
button.next {
    background-color: #73AC22;
}
button {
    background-color: #BDE682;
    border: none;
    color: black;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
}
img.button-image
{
    height: 2em;
}
.button_small {
    width: 1em;
    height: 1em;
    margin: 0px;
    padding: 0.15em;
}
.button_small > img {
    height: 100%;
    vertical-align: top;
}
button:hover{
    box-shadow: 0px 0px 10px #888888;
}
.btn-save {
    background-color: #73AC22;
    color: white;
}
.icon-white {
    -webkit-filter: brightness(0) invert(100%);
    -moz-filter: brightness(0) invert(100%);
    -ms-filter: brightness(0) invert(100%);
    -o-filter: brightness(0) invert(100%);
    filter: brightness(0) invert(100%);
}
.icon-black {
    -webkit-filter: brightness(0);
    -moz-filter: brightness(0);
    -ms-filter: brightness(0);
    -o-filter: brightness(0);
    filter: brightness(0);
}
.btn-primary {
    width: 138px;
    padding: 0.5em;
}
.btn-secondary {
    background-color: #B4B4B4;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          not supported by any browser */
}

#weekly_rotation
{
    font-family: monospace;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: auto;
    width: 10%;
    padding: 5px;
}
#mandantenformular
{
    clear: left;
}
div#bottom
{
    position: absolute;
    bottom: 0;
}
#myform
{
    float: left;    
    clear: left;
}
#navigation_form_div
{
    float: left;    
    clear: left;
}
div#roster_table_div
{
    float: left;    
    clear: left;
}
div#roster_table_div td {
    white-space: normal;
}

div#roster_table_div span.roster_table_lunch_break_span {
    white-space: nowrap;
    font-size: smaller;
}

@media screen and (max-width: 628px) {
    #roster_table_div {
        width: 100%
    }
    #roster_image_div{
        width: 100%;
    }
    #roster_image_div svg, #roster_image_div canvas{
        width: 100%;
        border: 0;
    }
}
@media screen and (min-width: 629px) {
    #roster_table_div {
        max-width: 45%;
    }
    #roster_image_div{
        width: 54%;
    }
    #roster_image_div svg, #roster_image_div canvas{
        width: 99%;
        border: 1px solid #000000;
    }
}
div.centered_form_div {
    text-align: center;
    padding: 10px;
    border: 3px solid #73AC22;
    max-width: 465px;
    margin: auto;
}
div.centered_form_div form input {
    margin-bottom: 1em;
}
nav ul#navigation_tiles {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;

}
nav ul#navigation_tiles li {
    float: left;
}
nav ul li a img.image_tiles{
    height: 128px;
    width: 128px;
}