<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PDR Selenium Tests" verbose="1" >
    <test name="Installation Pages" >
        <classes>
            <!--
            <class name="Selenium.installation.TestInstallation" />
            -->
        </classes>
    </test>
    <test name="Application Pages">
        <classes>
            <class name="Selenium.administrationpages.TestWorkforceManagementPage" />
            <!--
            <class name="Selenium.administrationpages.TestEmergencyServiceListPage" />
            <class name="Selenium.signin.TestLogin" />
            <class name="Selenium.TestAboutPage" />
            <class name="Selenium.administrationpages.TestUploadPepPage" />
            <class name="Selenium.administrationpages.TestConfigurationPage" />
            <class name="Selenium.administrationpages.TestSaturdayListPage" />
            -->
        </classes>
    </test>
    <test name="Absence Pages" >
        <classes>
            <!--
            <class name="Selenium.absencepages.TestAbsenceEmployeePage" />
            -->
        </classes>
    </test>
    <test name="Principle Roster Pages" >
        <classes>
            <!--
            <class name="Selenium.PrincipleRosterPages.TestDayPage" />
            -->
        </classes>
    </test>
    <test name="Roster Pages" >
        <classes>
            <!--
            <class name="Selenium.rosterpages.TestRosterDayEditPage" />
            <class name="Selenium.rosterpages.TestRosterWeekTablePage" />
            <class name="Selenium.rosterpages.TestRosterEmployeePage" />
            <class name="Selenium.rosterpages.TestRosterHoursPage" />
            -->
        </classes>
    </test>
</suite>
