<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PDR Selenium Tests" verbose="1" >
    <!--
<groups>
<run>
    <include name="Selenium.installation.prerequisitesForOtherTests" />
    <include name="Selenium.administrationpages.prerequisitesForOtherTests" />
    <include name="Selenium.signin.prerequisitesForOtherTests" />
    <include name="Selenium.absencepages.prerequisitesForOtherTests" />
    <include name="Selenium.rosterpages.prerequisitesForOtherTests" />
    <include name="Selenium.fullTest" />
</run>
</groups>
    -->
    <test name="Installation Pages" >
        <classes>
            <class name="Selenium.installation.TestInstallation" /><!---->
            <class name="Selenium.signin.TestLogin" />
            <class name="Selenium.administrationpages.TestConfigurationPage" />
            <!-- Mitarbeiter müssen eingetragen werden, bevor die Dienstpläne erstellt werden können: -->
            <class name="Selenium.administrationpages.TestWorkforceManagementPage" />
            <class name="Selenium.signin.TestRegister" />
            <!-- TestUserManagementPage muss nach TestRegister ausgeführt werden. -->
            <class name="Selenium.administrationpages.TestUserManagementPage" />
            <!-- Es müssen Dienstpläne erstellt werden, damit die "Jahre" bekannt werden: -->
            <class name="Selenium.rosterpages.TestRosterDayEditPage" />
            <class name="Selenium.overtimepages.TestOvertimeEmployeePage" />
            <!-- Erst wird das Erstellen von Plänen ohne Grundplan versucht. Anschließend folgen die Grundpläne: -->
            <class name="Selenium.principlerosterpages.TestDayPage" />
        </classes>
    </test>
    <test name="Application Pages">
        <classes>
            <class name="Selenium.TestAboutPage" />
            <class name="Selenium.administrationpages.TestEmergencyServiceListPage" />
            <class name="Selenium.administrationpages.TestSaturdayRotationTeamsPage" />
            <class name="Selenium.administrationpages.TestSaturdayListPage" />
            <class name="Selenium.administrationpages.TestUploadPepPage" />
            <!--
            -->
        </classes>
    </test>
    <test name="Absence Pages" >
        <classes>
            <class name="Selenium.absencepages.TestAbsenceEmployeePage" />
            <class name="Selenium.absencepages.TestAbsenceYearPage" />
            <!--
            -->
        </classes>
    </test>
    <test name="Overtime Pages" >
        <classes>
            <class name="Selenium.overtimepages.TestOvertimeEmployeePage" />
            <class name="Selenium.overtimepages.TestOvertimeOverviewPage" />
            <!--
            -->
        </classes>
    </test>
    <test name="Principle Roster Pages" >
        <classes>
            <class name="Selenium.principlerosterpages.TestEmployeePage" />
            <!--
            -->
        </classes>
    </test>
    <test name="Roster Pages" >
        <classes>
            <class name="Selenium.rosterpages.TestRosterWeekTablePage" />
            <class name="Selenium.rosterpages.TestRosterEmployeePage" />
            <class name="Selenium.rosterpages.TestRosterHoursPage" />
            <!--
            -->
        </classes>
    </test>
    <test name="API Endpoints">
        <classes>
            <!-- Api tests MUST run after TestUserManagementPage! -->
            <class name="Selenium.rest_api.TestPOST_authenticateEndpoint" />
            <class name="Selenium.rest_api.TestGET_rosterEndpoint" />
            <!--
            -->
        </classes>
    </test>
</suite>
