<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console appender to log messages to the console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root logger configuration -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Logger configuration for specific packages -->
        <Logger name="org.openqa.selenium" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.http" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>

