@charset "utf-8";
@page {
    size: A4;
    margin: 0.5cm;
    size: landscape;
    /*
    */
}
div {
    /*
    margin: 3px;
    border: 1px solid #FF0000;
    */
}
a, body {
    /*
    zoom: 70%;
    */
    color: #000000; /*!important;*/
}
select {
    color: #000000;
    -webkit-appearance: none;
    border: none;
}
.no-print, .no-print * {
    /*Elemente die nicht gedruckt werden sollen.*/
    display: none !important;
}
.only-print {
    display: block;
}
.page-break {
    display: block;
    page-break-before: always;
}
tr.wochenende {
    -webkit-print-color-adjust: exact;
}
#mainArea {
    width: 29.7cm;
    /*
    height: available;
    height: 19.0cm;
    */
}
div#tableOverlayArea {
    top: 0.5cm; /*equals margin-top on @page*/
    float: left;
    padding-left: 0px;
    margin-left: 0px;
    transform: translateX(-10mm) translateY(-10mm) scale(.9) ;
    width: 23.7cm;
    /*
    height: 19.0cm;
    */
}
div#weeklyRotation {
    position: fixed;
    top: 0cm;
    right: 0cm;
    width: 4cm;
    font-size: xx-small;
}
div#weekHoursTableDiv {
    position: fixed;
    bottom: 2cm;
    right: 0cm;
    width: 5.2cm;
    font-size: xx-small;
}
table#dutyRosterTable {
    width: 85%;
    font-size: 3.5mm;
}
#rosterImageDiv {
    width: 50%;
    height: 100%;
}
#rosterImageDiv svg, #rosterImageDiv canvas {
    width: 99%;
    height: 48%;
}
strong {
    font-style: italic;
}
svg foreignObject p {
    border: 1px solid black;
}
/*
 * The following styles are for:
 * marginal-employment-hours-list.php
 */
table#marginalEmploymentHoursListTable tr td {
    min-width: 8em;
}
/*
 * The preceding styles are for:
 * marginal-employment-hours-list.php
 */
