@charset "utf-8";
@page
{
    margin: 0.5cm;
    size: landscape;
    /*
    height: 210mm;
    width: 297mm;
    */
}
a, body
{
    /*
    zoom: 70%;
    */
    color: #000000; /*!important;*/
}
select{
color: #000000;
-webkit-appearance: none; 
border: none;
}
.no_print, .no_print *
{
    /*Elemente die nicht gedruckt werden sollen.*/
    display: none !important;
}
.only_print
{
    display: block;
}
.page-break
{
    display: block;
    page-break-before: always;
}
tr.wochenende {
    -webkit-print-color-adjust: exact;
}
#main-area
{
    /*
    height: 210mm;
    width: 297mm;
    */
    width: 100%;
}
#table_overlay_area
{
    /*
    height: 210mm;
    width: 297mm;
    */
    width: 100%;
}
#duty-rooster-table
{
    /*
    width: 334mm;
    */
    width: 85%;
}
table#duty-rooster-table
{
    width: 85%;
    font-size: 3.5mm;
}
#roster_image_div{
    width: 50%;
    height: 100%;
}
#roster_image_div svg, #roster_image_div canvas{
    width: 99%;
    height: 48%;
}
strong{
    font-style: italic;
}
/*
 * The following styles are for:
 * marginal-employment-hours-list.php
 */
table#marginal_employment_hours_list_table tr td{
    min-width: 8em;
}
/*
 * The preceding styles are for:
 * marginal-employment-hours-list.php
 */
