@charset "utf-8";
/*
Our main colors were picked by and from http://www.colorsontheweb.com/colorwizard.asp
#BDE682, foreground, light green
#73AC22, contrast, strong green
#FEFEFF, background, white
#B4B4B4, ?,  grey
#ECE7E8, small boxes, light grey
#E6828B; alert, red
*/
@media screen {
    div
    {
        /*
        margin: 3px;
        border: 1px solid #FF0000;
        */
    }
}
html {
    font-size: 16px;
}
body
{
    background-color: #FEFEFF;
    font-family: sans-serif;
}
footer {
    clear: left;
}
table, th, td
{
    white-space: nowrap;
    vertical-align: top;
    font-family : "Myriad Web",Verdana,Helvetica,Arial,sans-serif;
    border-collapse: collapse;
    padding:0 1.0em 0.8em 0;
}
thead
{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}
tfoot
{
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px;
}
table.table_with_border td
{
    border: solid 1px #000000;
}
td
{
    white-space: nowrap; vertical-align: top;
}
th
{
    text-align: left;
}
td.absentees_column{
    white-space: normal;
    font-size: smaller;
}
a {
    text-decoration: none;
    color: #73AC22;
}
a:hover {
    text-decoration: underline;
}
.only_print
{
    display: none;
}

div.foot
{
    display: inline-block;
    float: left;
    clear: both;
    /*	background-color: #BDE682;*/
    width: 95%;
}
@media screen and (min-width: 931px) {
    div#main_area_centered {
        text-align: center;
        padding: 10px;
        border: 3px solid #73AC22;
        max-width: 50%;
        margin: auto;
    }
    div#main_area_centered * {
        margin: auto;
    }
}
@media screen and (max-width: 930px) {
    div#main_area_centered {
        text-align: center;
        padding: 10px;
        border: 3px solid #73AC22;
        max-width: 465px;
        margin: auto;
    }
}
div#main-area
{
    width: 95%;
    position: relative;
    float: left;
    clear: left;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    overflow: auto;
}
table#duty-rooster-table
{
    /*
    width: 85%;

    font-size: 1.18vw;
    */
}
div#table_overlay_area
{
    /*
    width: 100%;
    */
    position: relative;
}
div.roster_plot_div
{
    position: relative;
    float: left;
    overflow:auto;
    /*	width: 60%;*/
    /*	max-height: 60%;*/
}

img.inline-image
{
    height: 0.9em;
}

input[type="time"]
{
    width: 6em;
    /*size: 5em;*/
    font-family: monospace;
    border-top: initial;
    border-left: 3px dotted #FEFEFF;
    border-right: 3px dotted #FEFEFF;
    border-bottom: 3px dotted #FEFEFF;
}
input[type="time"]:hover
{
    border: 3px dotted #BDE682;
}
select
{
    color: #73AC22;
    background-color: #FEFEFF;

    border-top: 1px dashed #B4B4B4;
    border-left: 1px dashed #B4B4B4;
    border-right: 1px dashed #B4B4B4 ;
    border-bottom: 1px dashed #B4B4B4;
}
select:hover
{
    border: 1px double #BDE682;
}
img.roster_input_row_add_row_image {
    width: 2em;
}
label
{
    margin-top: 0.5em;
    /*
    display: block;
    */
}
div.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    /*
    left: 25%;
    top:25%;
    */
    margin-top: 1.2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /*
    float: left;
    clear: both;
    */
    background-color: #73AC22;
    opacity: 0.8;
    z-index: -10;
}
div.overlay:hover
{
    opacity: 0.2;
    z-index: -10;
}
div.user_dialog_container {
    position: relative;
    float: right;
    top:0;
    max-width: 650px;
}
div.user_dialog_container div {
    /*
    padding-right: 2em;
    */
    padding-left: 15px;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
    z-index: 10;
}
div.user_dialog_container div p{
    padding-top: 0.3em;
    padding-bottom: 0.3em ;
    /*
    */
}
div.user_dialog_container div.error {
    background-color: #73AC22;
    font-size: xx-large;
    font-family: monospace;
}
div.user_dialog_container div.warning {
    background-color: #BDE682;
    font-size: large;
    font-family: sans-serif;
}
div.user_dialog_container div.notification {
    background-color: #ECE7E8;
    font-size: medium;
    font-family: serif;
}
div.error_container
{
    position: relative;
    float: right;
    top:0;
    max-width: 650px;
}
div.errormsg
{
    background-color: #73AC22;
    padding: 0px 15px 0px 15px;
    margin: 0px 15px 1em 0px;
    z-index: 10;
}
div.warningmsg
{
    position: relative;
    top:0;
    float: left;
    background-color: #BDE682;
    padding: 0px 15px 0px 15px;
    margin: 0px 15px 1em 0px;
    z-index: 10;
}

nav#nav {
    display: inline-block;
    width: 100%;
    background-color: #BDE682;
}
nav ul#navigation {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
}
nav ul#navigation li {
    height: 2em; /*is equal to {nav ul#navigation li a}[line-height]*/
    float: left;
}
nav ul#navigation li:last-child a {
    font-style: italic;
}
nav ul#navigation li a {
    border-left: 1px solid #73AC22;
    display: inline-block;
    text-align: center;
    background-color: #BDE682;
    color: #000000;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 2em; /*is equal to {nav ul#navigation li}[height]*/
}
ul#navigation li a:hover {
    background-color: #73AC22;
    color: #FFFFFF;
}
nav ul#navigation li:hover > ul {
    display: block;
}
ul#navigation ul, ul#navigation ul li ul{
    display: none;
    position: absolute;
    list-style-type: none;
    padding-left: 0;
    margin-left: 2.0em;
    z-index:  20;
}
ul#navigation ul li {
    clear: both;
    width: 100%;
}
ul#navigation ul li a {
    font-style: inherit !important;
    display: inline-block;
    float: left;
    clear: both;
    width: 100%;
}


tr.wochenende {
    background-color: #B4B4B4;
}
img.worker-img {
    border: 5px solid #B4B4B4;
    clear: left;
    position: relative;
    float: left;
    height: 64px;
}
img.worker-img:hover {
    height: auto;
    width: 90%;
}
.large {
    font-size: xx-large;
    margin-bottom: 1em;
}
.size_medium, .size_medium * {
    font-size: medium;
}
.smaller, .smaller * {
    font-size: smaller;
}
.tiny {
    font-size: xx-small;
    font-weight: lighter;
}
.unobtrusive{
    font-size: smaller;
    font-weight: lighter;
}
.hint {
    font-size: small;
    font-weight: lighter;
    text-align: left;
}
.table {
    display:block;
    border: 5px;
    width: 10%;
}
.row {
    display:block;
}
.cell-header {
    font-weight: bold;
}
.cell {
    display:inline-block;
}
button.next {
    background-color: #73AC22;
}
button {
    background-color: #BDE682;
    border: none;
    color: black;
    padding: 1em 2em;
    margin-right: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
}
img.button-image
{
    height: 2em;
}
.button_small {
    width: 1em;
    height: 1em;
    margin: 0px;
    padding: 0.15em;
}
.button_small > img {
    height: 100%;
    vertical-align: top;
}
button:hover{
    box-shadow: 0px 0px 10px #888888;
}
.btn-save {
    background-color: #73AC22;
    color: white;
}
.icon-white {
    -webkit-filter: brightness(0) invert(100%);
    -moz-filter: brightness(0) invert(100%);
    -ms-filter: brightness(0) invert(100%);
    -o-filter: brightness(0) invert(100%);
    filter: brightness(0) invert(100%);
}
.icon-black {
    -webkit-filter: brightness(0);
    -moz-filter: brightness(0);
    -ms-filter: brightness(0);
    -o-filter: brightness(0);
    filter: brightness(0);
}
.btn-primary {
    width: 10em;
    height: 6em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
.btn-secondary {
    width: 10em;
    height: 6em;
    margin-bottom: 0.5em;
    background-color: #B4B4B4;
}
button:disabled, .btn-secondary:disabled {
    filter: opacity(0.5);
    box-shadow:  none;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          not supported by any browser */
}

div#weekly_rotation {
    font-family: monospace;
    font-size: smaller;
    position: relative;
    float: right;
}
div#print_time_info {
    position:  absolute;
    bottom: 0em;
    right: 0em;
}
div#roster_week_image_div {
    page-break-inside: avoid;
}
div#week_hours_table_div {
    font-family: monospace;
    font-size: smaller;
    position: relative;
    float:     right;
}
table.tight tr td {
    padding-bottom: 0em;
}
.left_float_pool * {
    float: left;
    margin-right: 1em;
}

#branch_form {
    margin-right: 1em;
    float: left;
    /*
    clear: left;
    */
}
div#bottom
{
    position: absolute;
    bottom: 0;
}
#roster_form, #navigation_form, #principle_roster_form
{
    float: left;
    clear: left;
}
#week_day_form{
    margin-right: 1em;
    float: left;
}
#navigation_form_div
{
    float: left;
    clear: left;
}
div#roster_table_div
{
    float: left;
    clear: left;
}
div#roster_table_div td {
    white-space: normal;
}

div#roster_table_div span.roster_table_lunch_break_span {
    white-space: nowrap;
    font-size: smaller;
}
/*
 * tag-in.php
 * -->
 */
div.image {
    /*
    border: solid black 1px;
    */
    margin-top: 1em;
    float: left;
}
div.image p{
    margin-bottom: 0em;
}
div.image div.image_part {
    /*
    border: black  dashed 2px;
    */
    float: left;
    margin-right: 1em;
}
/*
 * <--
 * tag-in.php
 */

@media screen and (max-width: 628px) {
    #roster_table_div {
        width: 100%
    }
    #roster_image_div{
        width: 100%;
    }
    #roster_image_div svg, #roster_image_div canvas{
        width: 100%;
        border: 0;
    }
}
@media screen and (min-width: 629px) {
    #roster_table_div {
        max-width: 45%;
    }
    #roster_image_div{
        float: right;
        width: 54%;
    }
    #roster_image_div svg, #roster_image_div canvas{
        width: 99%;
        /*
        border: 1px solid #000000;
        */
    }
}
div.centered_form_div {
    text-align: center;
    padding: 10px;
    border: 3px solid #73AC22;
    max-width: 465px;
    margin: auto;
}
div.centered_form_div form input {
    margin-bottom: 1em;
}
div.centered_form_div form fieldset {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}
nav#nav_tiles{
    background-color: #BDE682;
    /*
    width: 100%;
    */
    display: table;
    margin: auto;
    margin-top: 2em;
}
nav#nav_tiles ul#navigation_tiles {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;

}
nav ul#navigation_tiles li {
    float: left;
    border: 1px solid black;
    margin: 16px;
}
nav ul#navigation_tiles li:hover {
    background-color: #73AC22;
    color: #FFFFFF;
}
nav ul#navigation_tiles li:hover a img.image_tiles{
    -webkit-filter: brightness(0) invert(100%);
    -moz-filter: brightness(0) invert(100%);
    -ms-filter: brightness(0) invert(100%);
    -o-filter: brightness(0) invert(100%);
    filter: brightness(0) invert(100%);
}
nav ul li a img.image_tiles{
    height: 128px;
    width: 128px;
}
/*
 * The following lines are added for stunden-in.php
 * -->
 */
table tr td input#stunden{
    width: 4em;
}
/*
 * <--
 * The above lines are added for stunden-in.php
 */


/*
 * The following lines are added for src/php/pages/branch-management.php
 * -->
 */
div#form_buttons_container{
    overflow:  auto;
}
button.form_button{
    width: 10em;
    padding-left: 0em;
    padding-right: 0em;
    margin-bottom: 1em;
}
button.form_button img{
    max-width: 2em;
    max-height: 2em;
    /*
    float:  right;
    */
}
button.form_button p{
    font-size: larger;
}
div#branch_management_form_div{
    clear:  both;
    /*
    float: left;
    */
}
div.overlay_top
{
    position: absolute;
    width: 100%;
    height: 100%;
    /*
    left: 25%;
    top:25%;
    margin-top: 1.2em;
    */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /*
    float: left;
    clear: both;
    */
    background-color: #73AC22;
    z-index: 99;
}
/*
 * <--
 * The above lines are added for src/php/pages/branch-management.php
 */

/*
 * The following lines are added for absence-edit.php
 * -->
 */

tr.absence_row[data-approval='approved'] {
    color: green;
}
/*
 * <--
 * The above lines are added for absence-edit.php
 */

/*
 * The below lines are added for image_histogram
 * -->
 */
#canvas_histogram{
    /*
    background-color: blue;
    border-style: solid;
    border-width: 5px;
    border-color: green;
    float: left;
    clear: both;
    */
}
/*
 * <--
 * The above lines are added for image_histogram
 */

/*
 * The below lines are added for human-resource-management
 * -->
 */
span.form_input_unit{
    margin-left: 1em;
}
.nowrap{
    white-space: nowrap;
}
input[type=number] {
    /*
     * We are dealing with numbers only up to 60 in our input boxes.
     * 2em are for the numbers, 1em is for the broswer styles and 1em is free space left.
     */
    width: 4em;
}
/*
 * <--
 * The above lines are added for human-resource-management
 */
/*
 * The below lines are added for all sites containing build_html_navigation_elements
 * -->
 */
div#navigation_elements{
    float: left;
    clear: both;
}
.inline_form {
    display: inline;
}
.inline_element {
    display: inline;
}
/*
 * <--
 * The above lines are added added for all sites containing build_html_navigation_elements
 */

svg.svg_img {
    cursor: default;
}
svg.svg_img foreignObject p {
    margin-top: 0px;
    box-shadow: inset 0 0 0 1000px #B4B4B4;
}
svg.svg_img foreignObject p.Apotheker, svg.svg_img foreignObject p.PI {
    margin-top: 0px;
    box-shadow: inset 0 0 0 1000px #73AC22;
}
svg.svg_img foreignObject p.PTA {
    margin-top: 0px;
    box-shadow: inset 0 0 0 1000px #BDE682;
}
svg.svg_img foreignObject p.PKA {
    margin-top: 0px;
    box-shadow: inset 0 0 0 1000px #B4B4B4;
}
svg.svg_img foreignObject p.selected {
    color: white;
}


body table tbody tr.branch_roster_title_tr th{
    padding-top: 1em;
    font-size: x-large;
}
body div#week_hours_table_div p span {
    margin-right: 1em;
    white-space: nowrap;
}
/*
 * absence-edit.php
 */
select[id^='reason_in_'], select[id^='absence_in_']{
    display: none;
}

